.attendee-modal {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: var(--main-color);
}

#modal-content {
    position: absolute;
    top: 150px;
    border-radius: 10px;
    height: auto;
    width: 450px;
    background-color: var(--main-color);
    border: 2px solid var(--accent-color-2)
}

.prod-name {
    margin: 10px;
    font-size: x-large;
}

#status {
    height: auto;
    width: auto;
    border-radius: 5%;
    resize: none;
    margin: auto;
    text-align: center;
    color: var(--contrast-color);
    background-color: var(--main-color);
}

.attending-button {
    display: flex;
    margin-top: 20px;
    width: 40%;
    margin: 20px auto ;
    justify-content: center;
    background-color: var(--accent-color-1);
    color: var(--main-color);
}

.attending-button:disabled {
    cursor:default;
    background-color: var(--accent-color-1);
    color: var(--contrast-color);
}
