.land-main {
    margin: auto;
    width: 80%;
    text-align: center;
}
.land-main-desc {
    margin: auto;
    width: 60%;
    margin-top: 30px;
    font-size: larger;
}

.land-mod {
    margin-top: 100px;
    border: 5px solid #d7dcdf;
    margin: 50px auto;
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #323643;
}

.land-head {
    background-color: #d7dcdf;
}

.land-triple {
    display: flex;
    flex-direction: row;

}
.land-desc {
    margin: auto;
    margin-top: 30px;
    width: 25%;
    font-size: larger;
    border-color: #d7dcdf;
    border: 2px solid;
    padding: 25px;
    border-radius: 20px;
    background-color: #d7dcdf;
    box-shadow: #323643;
}

.b-text {
    color: black;
}
