/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');;

* {
    font-size: medium;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #f7f7f7;
}
html, body {
    height: 100%;
}
body {
    background-color: #323643;
    margin: 50px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
    margin: 5px 0px
}

button {
    font-size: normal;
    text-align: center;
    cursor: pointer;
    background-color: #4a5064;
    border-color: #606470;
    color: #f7f7f7;
    border-radius: 5px;

    margin: 5px;
}
button:disabled {
    cursor:default;
}
input {
    cursor: default;
}
ul {
    list-style-type: none;
  padding-inline-start: 0px;

}
li {
    list-style: none;
}

.main-div {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    padding-bottom: 20px
}

#root {
    display: flex;
    flex-direction: column;
}
/* error messages */
.errors-msgs {
    color: red;
    font-size: .74rem;
    font-weight: 500;

}

.first-color {
	background: #323643;
}

.second-color {
	color: #606470;
}

.third-color {
	color: #93deff;
}

.fourth-color {
	color: #f7f7f7;
}

.loading {
    margin: 16% 45%;
}
