/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');;

* {
    font-size: medium;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: var(--contrast-color);

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.5rem;
    --margin-xxl: 1.75rem;
    --main-color: #0b0c14;
    --contrast-color: #ffffff;
    --accent-color-1: #646ddd;
    --accent-color-2: #838cb7;
}
html, body {
    height: 100%;
}
body {
    background-color: var(--main-color);
    margin: 50px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    font-size: 20pt;
    font-weight: bold;
    margin: 5px 0px
}

button {
    font-size: normal;
    text-align: center;
    cursor: pointer;
    background-color: var(--accent-color-1);
    border-color: #606470;
    color: var(--accent-color-2);
    border-radius: 5px;

    margin: 5px;
}
button:disabled {
    cursor:default;
}
input {
    cursor: default;
}
ul {
    list-style-type: none;
  padding-inline-start: 0px;

}
li {
    list-style: none;
}


footer {
    flex-shrink: 0;
    padding-bottom: 20px
}

.first-color {
	background: var(--main-color);
}

.second-color {
	color: var(--contrast-color);
}

.third-color {
	color: var(--accent-color-1 );
}

.fourth-color {
	color: var(--accent-color-2);
}

/* #root {
    display: flex;
    flex-direction: column;
} */
/* error messages */
.errors-msgs {
    color: red;
    font-size: .74rem;
    font-weight: 500;

}

.loading {
    margin: 16% 45%;
}

.main-div {
    flex: 1 0 auto;
}
