.events {
    display: flex;
    flex-direction: column;
    /* margin: 20px 50px; */
    width: 95%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
    border-bottom: 2px solid #606470;
    border-right: 2px solid #606470;
    box-shadow: 10px 5px 5px #606470;
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
}

.event-container > div {
    margin-top: 10px;
}

.event-dates {
    font-weight: bold;

}

.event-img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin-right: 25px;
}

.event-container {
    width: 70%;
}

.attendance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    margin-left: 15px;
    margin-right: 25px;
}
.attendee-box {
    border: 2px solid #606470;
    margin: 5px 0px;
    padding: 5px;
    height: 90px;
    width: 250px;
    overflow: auto;
}
.attendance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Owner {
    color: #93deff;
}

.Attending {
    color: #93deff;
    /* color: #93ff98 */
}

.Unsure {
    color: #f7f7f7
    /* color: #ffdd93 */
}

.Not {
    color: #ff9393
}
