.modal {
    text-align: center;
}

#modal-content {
    position: absolute;
    top: 150px;
    border-radius: 20px;
    height: auto;
    width: 350px;

}

.delete-button {
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    color: #ffffff;
    padding: 5px;
    width: 80%;
    margin: 20px 0px 0px 0px;
}

.keep-button {
    padding: 5px;
    border-color: var(--accent-color-2);
    color: var(--contrast-color);
    background-color: var(--accent-color-2);
    width: 80%;
    margin: 20px 0px;
}

.delete-desc {
    margin-bottom: 10px;
}
